<!DOCTYPE html>
<html>
<head>
    <title>compare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container text-center">
    <br><br>
    <br><br><br>
    <h3>两张人脸进行相似度比较</h3>
    <br><br>
    <form method=POST enctype=multipart/form-data action="compare">
        <input type=file name=file1 class="btn btn-outline-dark">
        <input type=file name=file2 class="btn btn-outline-dark">
        <input type="submit" class="btn btn-outline-dark">
    </form>
</div>
</body>
</html>